{
  "log": {
    "_recordingName": "fetch-repos",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bf47250a41e1d3eaace7b61dfb4e1499",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "grant_type=client_credentials"
          },
          "queryString": [],
          "url": "https://bitbucket.org/site/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 315,
            "text": "{\"access_token\":\"[REDACTED]\",\"scopes\":\"account runner wiki snippet pullrequest pipeline webhook project team issue\",\"token_type\":\"bearer\",\"expires_in\":7200,\"state\":\"client_credentials\",\"refresh_token\":\"[REDACTED]\"}"
          },
          "headers": [
            {
              "name": "x-usage-quota-remaining",
              "value": "999088.719"
            },
            {
              "name": "x-usage-request-cost",
              "value": "926.50"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-usage-output-ops",
              "value": "0"
            },
            {
   [...]
